@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(77, 87, 83);
  transition: 0.4s;
  padding: 3px;
}



  #app {

  }

.v-container {
  max-width: 100% !important;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 3%, 72%, 0.507);
  }
}


